<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletProject</display-name>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>com.org.LogFilter</filter-class>
    <init-param>
      <param-name>test-param</param-name>
      <param-value>Initialization Paramter</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>AuthenFilter</filter-name>
    <filter-class>com.org.AuthenFilter</filter-class>
    <init-param>
      <param-name>test-param</param-name>
      <param-value>Initialization Paramter</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthenFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.org.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.org.ErrorHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>com.org.HelloForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionTrack</servlet-name>
    <servlet-class>com.org.SessionTrack</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.org.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>com.org.FileUpload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PageRedirect</servlet-name>
  	<servlet-class>com.org.PageRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PageRedirect</servlet-name>
  	<url-pattern>/PageRedirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionTrack</servlet-name>
    <url-pattern>/SessionTrack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>/html/userData.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
      
      	F:\Files\ 
      </param-value>
  </context-param>
</web-app>